In [ ]:
import yfinance as yf
import pandas as pd
from datetime import timedelta, datetime
from dateutil.relativedelta import relativedelta
import os

print("yfinance version: {}".format(yf.__version__))

yfinance version: 0.2.50

In [ ]:
# period=-2400
# time_interval='1d'
# tickers = ['EURUSD=X', 'GBPUSD=X', 'USDCHF=X', 'USDJPY=X']
# forex_tickers = ['EURUSD', 'GBPUSD', 'USDCHF', 'USDJPY']

In [13]:
delta = timedelta(days=period) # 
today = datetime.now()

In [ ]:
print("Start load FOREX data interval with: {}, from: {}".format(time_interval, today+delta))

data = yf.download(tickers, today+delta, interval=time_interval, group_by='ticker')
data.index.names = ['Date']

# data = yf.download(tickers, today+delta, interval=time_interval)
# data.columns = pd.MultiIndex.from_tuples([i[::-1] for i in data.columns])
 
data.info()

Start load FOREX data interval with: 1d, from: 2018-05-07 16:50:02.922249

[*********************100%***********************]  4 of 4 completed

,EURUSD=X,GBPUSD=X,USDCHF=X,USDJPY=X,EURUSD=X,GBPUSD=X,USDCHF=X,USDJPY=X,EURUSD=X,GBPUSD=X,...,USDCHF=X,USDJPY=X,EURUSD=X,GBPUSD=X,USDCHF=X,USDJPY=X,EURUSD=X,GBPUSD=X,USDCHF=X,USDJPY=X
,Adj Close,Adj Close,Adj Close,Adj Close,Close,Close,Close,Close,High,High,...,Low,Low,Open,Open,Open,Open,Volume,Volume,Volume,Volume
Date,,,,,,,,,,,,,,,,,,,,,
2018-05-07,1.195500,1.353198,1.00054,109.146004,1.195500,1.353198,1.00054,109.146004,1.197892,1.357589,...,0.99810,108.757004,1.195572,1.353327,1.00040,109.139000,0.0,0.0,0.0,0
2018-05-08,1.193374,1.357036,1.00185,108.943001,1.193374,1.357036,1.00185,108.943001,1.193887,1.359120,...,1.00047,108.858002,1.193260,1.356926,1.00202,108.940002,0.0,0.0,0.0,0
2018-05-09,1.186789,1.355344,1.00114,109.024002,1.186789,1.355344,1.00114,109.024002,1.189612,1.360600,...,1.00042,109.000999,1.186676,1.355381,1.00127,109.039001,0.0,0.0,0.0,0
2018-05-10,1.184722,1.354463,1.00540,109.847000,1.184722,1.354463,1.00540,109.847000,1.194244,1.361767,...,0.99950,109.332001,1.184764,1.354646,1.00539,109.825996,0.0,0.0,0.0,0
2018-05-11,1.191753,1.352338,1.00303,109.435997,1.191753,1.352338,1.00303,109.435997,1.196788,1.359619,...,0.99768,109.161003,1.191526,1.352448,1.00303,109.463997,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-26,1.044430,1.253306,0.88880,154.378006,1.044430,1.253306,0.88880,154.378006,1.054385,1.261654,...,0.88400,153.024994,1.044430,1.253054,0.88880,154.378006,0.0,0.0,0.0,0
2024-11-27,1.049120,1.257387,0.88627,153.009003,1.049120,1.257387,0.88627,153.009003,1.058347,1.269293,...,0.87994,150.526993,1.049120,1.257545,0.88627,153.009003,0.0,0.0,0.0,0
2024-11-28,1.056245,1.267765,0.88200,151.335999,1.056245,1.267765,0.88200,151.335999,1.056524,1.269148,...,0.88239,151.289001,1.056245,1.267491,0.88200,151.335999,0.0,0.0,0.0,0
2024-11-29,1.056301,1.269680,0.88234,151.173996,1.056301,1.269680,0.88234,151.173996,1.059547,1.274876,...,0.87960,149.589996,1.056301,1.269648,0.88234,151.173996,0.0,0.0,0.0,0
2024-12-01,NaN,NaN,NaN,149.729996,NaN,NaN,NaN,149.729996,NaN,NaN,...,NaN,149.729996,NaN,NaN,NaN,149.729996,NaN,NaN,NaN,0

In [15]:
#Should be ${workspaceFolder} in vscode://settings/jupyter.notebookFileRoot 
save_location = "forex_data"
if not os.path.exists(save_location) :
    os.makedirs(save_location)
    print("=== Directory '%s' created ===" % save_location)

In [16]:
for i in tickers:
    symbol = i[:len(i)-2]
    try:
        TEMP = data[i].copy(deep=True)
        TEMP = TEMP.dropna()
        TEMP.to_csv(save_location+"/"+symbol+".csv")
    except:
        print("Unable to load data for {}".format(i))

print("=== Download FOREX data completed ===")

=== Download FOREX data completed ===